<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks Using Django</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home-snacks' %}">Home</a></li>
                <li><a href="{% url 'about-snacks' %}">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <P>Snacks @ Shop</P>
    </footer>
</body>
</html>